.containerDashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;

    .contentDashboard {
        width: 90%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 2rem;

        ul {
            width: 30%;

            li{
                list-style: none;
                padding: 0.5rem 0;
                cursor: pointer;
            }
        }

        .contentProducts{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 1rem;

            .product{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                align-items: center;
                gap: 3rem;

                img{
                    width: 5rem;
                }

                h4{
                    font-size: 1rem;
                }

                .btnUpdate{
                    padding: 0.3rem 0.8rem;
                    border-radius: 10px;
                    border: 1px solid #264653;
                    background-color: #26533a;
                    color: #ffffff;
                    font-family: "Outfit", sans-serif;
                    font-weight: bold;
                    transition: all 300ms;
                }

                .btnDelete{
                    padding: 0.3rem 0.8rem;
                    border-radius: 10px;
                    border: 1px solid #532633;
                    background-color: #532633;
                    color: #ffffff;
                    font-family: "Outfit", sans-serif;
                    font-weight: bold;
                    transition: all 300ms;
                }
            }
        }

        .formDashboard {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .formAddProduct {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                input {
                    width: 100%;
                    padding: 0.3rem 0.5rem;
                    border-radius: 10px;
                    outline: none;
                    border: none;
                }

                button {
                    width: 15rem;
                    padding: 0.3rem 0.8rem;
                    border-radius: 10px;
                    border: 1px solid #5f2618;
                    background-color: #ffffff;
                    color: #5f2618;
                    font-family: "Outfit", sans-serif;
                    font-weight: bold;
                    transition: all 300ms;
                }

                button:hover {
                    border: 1px solid #ffffff;
                    background-color: #5f2618;
                    color: #ffffff;
                }
            }


        }
    }
}